<h3>Pick a language to translate to</h3>
<div class="carousel">
  <a class="carousel-item" href="/translator/minion">
    <div class="size_200_250">
      <label class="absolute">minion</label>
      <img class="img_carousel" src="https://eplay-prod.s3-eu-west-1.amazonaws.com/store/movie_region_poster/24543/file/movie_detail_image/7982c0fe04ae811b483ce6a105530dda.jpg"></div></a>
  <a class="carousel-item" href="/translator/yoda">
    <div class="size_200_250">
      <label class="absolute">yoda</label>
      <img class="img_carousel" src="https://plaqat.ru/images/10600.jpg"></div></a>
  <a class="carousel-item" href="/translator/hodor">
    <div class="size_200_250">
      <label class="absolute">hodor</label>
      <img class="img_carousel" src="http://images4.wikia.nocookie.net/__cb20120701222239/gameofthrones/images/c/c1/Hodor_infobox.jpg"></div></a>
  <a class="carousel-item" href="/translator/dothraki">
    <div class="size_200_250">
      <label class="absolute">dothraki</label>
      <img class="img_carousel" src="https://sun9-72.userapi.com/impg/R1xaoYyoxiWxB3MXOvYtwi_OWKyo-j_GR1kCFQ/u8Yp15d2Mck.jpg?size=176x286&quality=96&sign=68ce7bdaf0df424ac5bff24d451fe2b9&type=album"></div></a>
  <a class="carousel-item" href="/translator/mandalorian">
    <div class="size_200_250">
      <label class="absolute">mandalorian</label>
      <img class="img_carousel" src="https://www.komar.de/ru/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/d/x/dx4-086_star_wars_the_mandalorian_the_hunter_web.jpg"></div></a>
  <a class="carousel-item" href="/translator/morse">
    <div class="size_200_250">
      <label class="absolute">morse</label>
      <img class="img_carousel" src="https://sun9-51.userapi.com/impg/ge5ZXBkEGIUtwC9cB_NeqYt2jeTN6p6ds4svTw/qLPABl0Bd54.jpg?size=1106x1516&quality=96&sign=1a1c783d7fc5005d1922f02e374bd78d&type=album"></div></a>
  <a class="carousel-item" href="/translator/russian-accent">
    <div class="size_200_250">
      <label class="absolute">russian accent</label>
      <img class="img_carousel" src="https://sun9-32.userapi.com/impg/NVDFjMNy88Oy7ZxR6CEC6U6A1PgkTlIZ2z10KA/cwhD2hPby_k.jpg?size=638x964&quality=96&sign=c7ae93336d3968986936d71518631a1a&type=album"></div></a>
  <a class="carousel-item" href="/translator/doggo">
    <div class="size_200_250">
      <label class="absolute">doggo</label>
      <img class="img_carousel" src="https://i.pinimg.com/originals/2a/e9/a4/2ae9a40b4363e74554dcae603cd8356d.jpg"></div></a>
</div>
<style>
  .size_200_250 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
  }

  .img_carousel {
    width: 100%;
  }

  .absolute {
    z-index: 100;
    position: absolute;
    bottom: 10%;
    left: 0;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #6d6c6c;
  }

  .carousel {
    box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.25);
  }
</style>
