<div class="qr-container">
  <img src="/img/outputqr.png">
</div>

<style>
  .qr-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
